* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

section {
	float: left;
	width: 100%;
}

html {
	font-size: 10px;
}
	
body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
	
a {}

a:hover {}

.wrapper {
	float: left;
	overflow: hidden;
	height: 100vh;
	left: 0;
	width: 100%;
	position: relative;	
}

header {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
	z-index: 9;
	padding-left: 0.8rem;
}

header:before {
	content: '';
	border-top: 4.8rem solid #fff;
	border-left: 4.9rem solid transparent;
	position: absolute;
	left: -4.9rem;
	top: 0;
}

header:after {
	content: '';
	width: 40rem;
	height: 1px;
	position: absolute;
	left: -4.8rem;
	top: 0;
	background-color: rgba(255,255,255,0.1);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: 0 0;
}

.nav-top {}

.nav-top nav {
	height: 4.8rem;
	padding: 1.4rem 0;
}

.nav-top ul {}

.nav-top li {
	float: left;
	margin: 0 1.2rem;
}

.nav-top a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #000;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-top a:hover, .nav-top li.active a {
	border-color: #F05822;
}

#hero {
	float: left;
	width: 100%;
	min-height: 100vh;
	position: relative;
	-webkit-transition: min-height 1.2s;
	-o-transition: min-height 1.2s;
	transition: min-height 1.2s;
}

.opened #hero {
	height: 48rem;
	min-height: 48rem;
}

.hero-in {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-right: 4.9rem;
	-webkit-filter: drop-shadow( 3px 3px 10px rgba(0, 0, 0, .9));
    filter: drop-shadow( 3px 3px 10px rgba(0, 0, 0, .9));
}

.slog {
	font-size: 3.6rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	-webkit-filter: drop-shadow( 3px 3px 10px rgba(0, 0, 0, .9));
    filter: drop-shadow( 3px 3px 10px rgba(0, 0, 0, .9));
}

.container {
	padding: 2rem 13rem 2.5rem 15.8rem;
	position: absolute;
	top: 48rem;
	float: left;
	width: 100%;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;

	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.opened .container {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.top-title {
	height: 4.8rem;
	background-color: #fff;
	position: absolute;
	top: -4.8rem;
	width: 52.8rem;
	left: 0;
}

.top-title:after {
	content: '';
	border-bottom: 5rem solid #fff;
	border-right: 5rem solid transparent;
	position: absolute;
	right: -4.9rem;
	top: 0;
}

.top-title:before {
	content: '';
	width: 40rem;
	height: 1px;
	position: absolute;
	right: -4.8rem;
	bottom: 0;
	background-color: rgba(255,255,255,0.1);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

.top-title-in {
	cursor: pointer;
	float: right;
	margin-right: 0.5rem;
	text-transform: uppercase;
	position: relative;
	padding-right: 3.2rem;
	padding: 1.8rem 3.2rem 1.4rem 0;
}

.top-title-in span {
	font-size: 1.6rem;
	display: block;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.top-title-in:hover span, .top-title-in.active span {
	border-color: #F05822;
}

.top-title-in i {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	-ms-transform: translate3d(0, -50%, 0);
	-o-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.top-title-in i svg {
	vertical-align: top;
}

.tabs {
	float: left;
	width: 100%;
}

.one-tab {
	display: none;
}

.one-tab-cont {
	float: left;
	width: 100%;
}

.one-tab h2 {
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 3rem;
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 0 1.4rem;
	text-transform: uppercase;
}

.cont-wrap {
	float: left;
	width: 100%;
	border: 1px solid #E7E7E7;
	position: relative;
	padding: 2.4rem 2.7rem 3rem 2.1rem;
	font-size: 1.6rem;
	line-height: 2rem;
}

.cont-wrap:before {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	width: 1.2rem;
	background-color: #F05822;
}

.cont-wrap p {
	text-align: justify;
	margin-bottom: 1.5rem;
}

.cont-wrap ul {}

.cont-wrap ul li {
	margin-bottom: 1.5rem;
}

footer {
	opacity: 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 4.8rem 0 3rem;
	-webkit-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
}

footer a {
	color: #fff;
}

.opened footer {
	opacity: 1;
}

.made {
	line-height: 2.4rem;
	float: left;
	font-weight: 100;
	font-size: 1rem;
	line-height: 2.4rem;
}

.made a {
	text-decoration: none;
	color: #fff;
}

.cont {
	float: right;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.6rem;
	line-height: 2.4rem;
}

.why-we {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.one-who {
	float: left;
	width: calc(50% - 1.2rem);
	float: left;
	border: 1px solid #E7E7E7;
	position: relative;
	padding: 0.6rem 2.6rem 0.6rem 2.3rem;
	font-size: 1.6rem;
	letter-spacing: -0.02em;
	line-height: 2rem;
	min-height: 10rem;
	margin-bottom: 1.4rem;
	color: rgba(0,0,0,0.9);
}

.one-who:before {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	width: 1.2rem;
	background-color: #F05822;
}

.one-who-in {}

.one-who-tit {
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}

.one-who-descr {
	text-align: justify;
}

.text-contacts {
	float: left;
	width: 33rem;
	height: 29rem;
	border: 1px solid #E7E7E7;
	position: relative;
	padding: 1.8rem 2.5rem 0.6rem 2.3rem;
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: rgba(0,0,0,0.9);
}

.text-contacts a {
	text-decoration: none;
	color: #F05822;
}

.text-contacts a:hover {
	text-decoration: underline;
}

.text-contacts:before {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	width: 1.2rem;
	background-color: #F05822;
}

.map {
	float: right;
	width: calc(100% - 35.4rem);
	position: relative;
	height: 29rem;
}

#map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.map-in	{
	height: 29rem;
	border: 1px solid #E7E7E7;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}


@media (min-width: 1680px) {

	.webp #hero {
		background: url(images/prompt-2560.webp) center center no-repeat;
		background-size: cover;
	}

	.no-webp #hero {
		background: url(images/prompt-2560.jpg) center center no-repeat;
		background-size: cover;
	}

	.webp footer {
		background: url(images/footer.webp) center center no-repeat;
		background-size: cover;
	}

	.no-webp footer {
		background: url(images/footer.jpg) center center no-repeat;
		background-size: cover;
	}

}


@media (min-width: 768px) and (max-width: 1680px) {

	.webp #hero {
		background: url(images/prompt-1680.webp) center center no-repeat;
	}

	.no-webp #hero {
		background: url(images/prompt-1680.jpg) center center no-repeat;
	}

	.webp footer {
		background: url(images/prompt-1680.webp) center center no-repeat;
	}

	.no-webp footer {
		background: url(images/prompt-1680.jpg) center center no-repeat;
	}

}


@media (min-width: 360px) and (max-width: 768px) {

	.webp #hero {
		background: url(images/prompt-768.webp) center center no-repeat;
	}

	.no-webp #hero {
		background: url(images/prompt-768.jpg) center center no-repeat;
	}

	.webp footer {
		background: url(images/prompt-768.webp) center center no-repeat;
	}

	.no-webp footer {
		background: url(images/prompt-768.jpg) center center no-repeat;
	}

}


@media (min-width: 320px) and (max-width: 360px) {

	.webp #hero {
		background: url(images/prompt-360.webp) center center no-repeat;
	}

	.no-webp #hero {
		background: url(images/prompt-360.jpg) center center no-repeat;
	}
	
	.webp footer {
		background: url(images/prompt-768.webp) center center no-repeat;
	}

	.no-webp footer {
		background: url(images/prompt-768.jpg) center center no-repeat;
	}

}

@media (min-width: 1000px) and (max-width: 1030px) {
	.webp #hero {
		background: url(images/prompt-1100х1400.webp) center center no-repeat;
	}

	.no-webp #hero {
		background: url(images/prompt-1100х1400.jpg) center center no-repeat;
	}
}

.show-hide {
	display: none;
}

.nav-top li.hide-mob {
	display: none;
}

.cont br {
	display: none;
}




@media (min-width: 2200px) {
	html {
		font-size: 13.5px;
	}
}


@media (max-width: 1600px) {

.top-title {
	width: 34rem;
}

.opened .wrapper {
	overflow: visible;
	height: auto;
	min-height: 100vh;
}

.container {
	position: static;
	min-height: calc(100vh - 48rem);
	padding: 2.5rem 2rem;
}

}

@media (max-width: 1200px) and (max-height: 740px) {

.opened .wrapper {
	overflow: visible;
	height: auto;
	min-height: 100vh;
}

.container {
	position: static;
}

}

@media (max-width: 992px) {

header:after, header:before {
	content: normal;
}

.show-hide {
	display: block;
	position: fixed;
	right: 2.4rem;
	top: 2.2rem;
	width: 3.6rem;
	z-index: 9;
	cursor: pointer;
}

.show-hide span {
	display: block;
	float: left;
	width: 100%;
	height: 0.3rem;
	background-color: #fff;
	margin: 0.2rem 0;
}

header {
	background-color: #000;
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;
	width: 38rem;
	left: 0;
	right: auto;
	padding: 4rem 3.4rem;
	-webkit-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

header.show {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.nav-top nav {
	height: auto;
	padding: 0;
}

.nav-top li {
	float: left;
	width: 100%;
	margin: 0 0 1.2rem;
}

.nav-top a {
	float: left;
	font-size: 2.4rem;
	color: #fff;
	line-height: 4rem;
}

.nav-top li.hide-mob {
	display: block;
}

.close-mob {
	position: absolute;
	right: 0;
	top: 0;
	width: 6.4rem;
	height: 6.4rem;
	cursor: pointer;
	z-index: 9;
}

.close-mob:before, .close-mob:after {
	content: '';
	position: absolute;
	height: 0.3rem;
	width: 2.4rem;
	background-color: #fff;
	margin-top: -1px;
	top: 50%;
	left: 50%;
	margin-left: -1.2rem;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-mob:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.wrapper {
	overflow: visible;
	height: auto;
	min-height: 100vh;
}

footer {
	float: left;
	width: 100%;
	opacity: 1;
	padding: 0.5rem 4.8rem;
}

.made {
	display: none;
}

.cont {
	text-align: right;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.9rem;
}

.cont span {
	display: block;
}


#hero {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 31.2rem !important;
	min-height: 31.2rem !important;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.hero-in {
	position: static;
	display: block;
	width: 40rem;
	height: auto;
}

.logo {
	margin: 0 0 1.3rem;
}

.slog {
	font-size: 3rem;
	line-height: 3.5rem;
}

.slog br {
	display: none;
}

.top-title {
	display: none !important;
}

.container {
	margin-top: 31.2rem;
	min-height: calc(100vh - 31.2rem);
	bottom: 0;
	padding: 2rem 4.8rem 6.8rem;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.bg-plan {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0,0,0,0.5);
}

.opened-side-modal .bg-plan {
	display: block;
}

.one-who {
	width: 100%;
	margin-bottom: 2.4rem;
	min-height: inherit;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.map {
	width: 100%;
	margin-bottom: 3.6rem;
}

.text-contacts {
	width: 100%;
	margin: 0;
	height: auto;
	padding: 1.8rem 1.9rem 2.8rem 2.6rem;
}

.text-contacts br {
	display: none;
}

.text-contacts span {
	display: block;
}

}

@media (max-width: 767px) {

.container {
	padding: 2.8rem 0 0;
	margin-top: 16.8rem;
}

.container > div {
	padding: 0 2.8rem;
}

.cont-wrap {
	padding: 1.5rem 1.5rem 1.5rem 2.2rem;
}

.cont-wrap p {
	text-align: left;
}

.text-contacts {
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 1.3rem 1.4rem 1.1rem 2.2rem;
}

.text-contacts br {
	display: block;
}

.text-contacts span:nth-child(2) br {
	display: none;
}

.wrapper {
	padding-bottom: 0;
}

footer {
	margin-top: 3.6rem;
	position: static;
	padding-left: 5.4rem;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cont {
	text-align: left;
	float: left;
}

.cont br {
	display: block;
}

.slog {
	display: none;
}

.logo {
	width: 100%;
	text-align: center;
}

.logo img {
	width: 24.4rem;
}

#hero {
	height: 16.8rem !important;
	min-height: 16.8rem !important;
	padding-top: 3rem;
}

header {
	width: 100%;
}

.one-who:last-child {
	margin-bottom: 0;
}

}



	
	/*

  {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
	*/
